@model EventHub.EventFormViewModel.EventViewModel

@{
    ViewBag.Title = "Create";
}
<h2>@ViewBag.Title.</h2>

<h2>Create an Event</h2>

@using (Html.BeginForm("Create", "Event"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Place)
        @Html.TextBoxFor(m => m.Place, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Place)
    </div>
    <div class="form-group"></div>
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Date)
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Theme)
        @Html.DropDownListFor(m => m.Theme, new SelectList(Model.Themes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Theme)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
